@import "reset";

BODY {
  width: 100%;
  height: 100%;

  background-color: #a1caea;
  font-family: "proxima-nova-condensed", Helvetica Nueue Condensed, Helvetica, sans-serif;
}

#map {
  width: 100%;
  min-width: 900px;

  font-family: "proxima-nova-condensed";

  .city {
    font-weight: bold;
  }
}

#title {
  position: absolute;
  left: 8px;
  height: 0;
  float: left;

  opacity: .5;
  color: #444;

  H1 {
    margin-bottom: 5px;

    font-weight: bold;
    font-size: 14px;
  }

  .footer {
    font-size: 10px;
  }
}